<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  
    
    
    
    
    <!--  OPEN ID  -->
	
	<servlet>
        <servlet-name>LoginRequiredServlet</servlet-name>
        <servlet-class>inventory.servlet.LoginRequiredServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginRequiredServlet</servlet-name>
        <url-pattern>/_ah/login_required</url-pattern>
    </servlet-mapping>
	
	
	<security-constraint>
	    <web-resource-collection>
	        <web-resource-name>all</web-resource-name>
	        <url-pattern>/auth/*</url-pattern>
	    </web-resource-collection>
	    <auth-constraint>
	        <role-name>*</role-name>
	    </auth-constraint>
	</security-constraint>
	
	<filter>
		<filter-name>LoginRequiredFilter</filter-name>
		<filter-class>inventory.servlet.LoginRequiredFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>LoginRequiredFilter</filter-name>
		<url-pattern>/auth/*</url-pattern>
	</filter-mapping>
	
	
	<servlet>
        <servlet-name>LoginSessionServlet</servlet-name>
        <servlet-class>inventory.servlet.LoginSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginSessionServlet</servlet-name>
        <url-pattern>/_login_session</url-pattern>
    </servlet-mapping>
    
    
    <!-- ADMIN FILTER - DISABLED FOR TESTING 
    
    <filter>
		<filter-name>AdminLoginFilter</filter-name>
		<filter-class>inventory.servlet.AdminLoginFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>AdminLoginFilter</filter-name>
		<url-pattern>/auth/admin/*</url-pattern>
	</filter-mapping>
	
	
	-->
	
	<!-- STANDARDUSER FILTER - DISABLED FOR TESTING 
    
    <filter>
		<filter-name>StandardUserLoginFilter</filter-name>
		<filter-class>inventory.servlet.StandardUserLoginFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>StandardUserLoginFilter</filter-name>
		<url-pattern>/auth/user/*</url-pattern>
	</filter-mapping>
	
	-->
	
	
    
    
		<!--  LOGOUT  -->
	
	<servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>inventory.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
    
    
	
	
	   <!-- ADMIN SERVLET: Product -->


	<servlet>
		<servlet-name>AddProductServlet</servlet-name>
		<servlet-class>inventory.servlet.AddProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddProductServlet</servlet-name>
		<url-pattern>/auth/admin/addProduct</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteProductServlet</servlet-name>
		<servlet-class>inventory.servlet.DeleteProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteProductServlet</servlet-name>
		<url-pattern>/auth/admin/deleteProduct</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateProductServlet</servlet-name>
		<servlet-class>inventory.servlet.UpdateProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateProductServlet</servlet-name>
		<url-pattern>/auth/admin/updateProduct</url-pattern>
	</servlet-mapping>
	
	
		
	
	<!-- ADMIN SERVLET: Rental -->


	<servlet>
		<servlet-name>AddRentalServlet</servlet-name>
		<servlet-class>inventory.servlet.AddRentalServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddRentalServlet</servlet-name>
		<url-pattern>/auth/admin/addRental</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteRentalServlet</servlet-name>
		<servlet-class>inventory.servlet.DeleteRentalServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteRentalServlet</servlet-name>
		<url-pattern>/auth/admin/deleteRental</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateRentalServlet</servlet-name>
		<servlet-class>inventory.servlet.UpdateRentalServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateRentalServlet</servlet-name>
		<url-pattern>/auth/admin/updateRental</url-pattern>
	</servlet-mapping>
	
	
	
	<!-- ADMIN SERVLET: InvUser -->


	<servlet>
		<servlet-name>AddUserServlet</servlet-name>
		<servlet-class>inventory.servlet.AddUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUserServlet</servlet-name>
		<url-pattern>/auth/admin/addUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteUserServlet</servlet-name>
		<servlet-class>inventory.servlet.DeleteUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteUserServlet</servlet-name>
		<url-pattern>/auth/admin/deleteUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateUserServlet</servlet-name>
		<servlet-class>inventory.servlet.UpdateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateUserServlet</servlet-name>
		<url-pattern>/auth/admin/updateUser</url-pattern>
	</servlet-mapping>
	
	<!-- ADMIN SERVLET: InvTransaction -->


	<servlet>
		<servlet-name>AddTransactionServlet</servlet-name>
		<servlet-class>inventory.servlet.AddTransactionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddTransactionServlet</servlet-name>
		<url-pattern>/auth/admin/addTransaction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteTransactionServlet</servlet-name>
		<servlet-class>inventory.servlet.DeleteTransactionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteTransactionServlet</servlet-name>
		<url-pattern>/auth/admin/deleteTransaction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateTransactionServlet</servlet-name>
		<servlet-class>inventory.servlet.UpdateTransactionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateTransactionServlet</servlet-name>
		<url-pattern>/auth/admin/updateTransaction</url-pattern>
	</servlet-mapping>
	
	
	
	<!-- ADMIN SERVLET: RentTransaction -->


	<servlet>
		<servlet-name>AddRentalTransactionServlet</servlet-name>
		<servlet-class>inventory.servlet.AddRentalTransactionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddRentalTransactionServlet</servlet-name>
		<url-pattern>/auth/admin/addRentalTransaction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteRentalTransactionServlet</servlet-name>
		<servlet-class>inventory.servlet.DeleteRentalTransactionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteRentalTransactionServlet</servlet-name>
		<url-pattern>/auth/admin/deleteRentalTransaction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateRentalTransactionServlet</servlet-name>
		<servlet-class>inventory.servlet.UpdateRentalTransactionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateRentalTransactionServlet</servlet-name>
		<url-pattern>/auth/admin/updateRentalTransaction</url-pattern>
	</servlet-mapping>
	
	
	
	<!-- USER SERVLET: InvUser -->


	<servlet>
		<servlet-name>AddUserServlet</servlet-name>
		<servlet-class>inventory.servlet.AddUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUserServlet</servlet-name>
		<url-pattern>/addUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateUserServlet</servlet-name>
		<servlet-class>inventory.servlet.UpdateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateUserServlet</servlet-name>
		<url-pattern>/updateUser</url-pattern>
	</servlet-mapping>
	
	
	<!-- USER SERVLET: RENTAL TRANSACTION -->
	
	<servlet>
		<servlet-name>AddRentalTransactionServletUser</servlet-name>
		<servlet-class>inventory.servlet.AddRentalTransactionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddRentalTransactionServletUser</servlet-name>
		<url-pattern>/auth/user/rentTransaction</url-pattern>
	</servlet-mapping>


	
	
	
	<!-- WELCOME FILE -->

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>